:root{
    /*color palette*/
    --yellow:#ffdc73;
    --blue1:#8f9fab;
    --blue2:#ceecff;
    --brown1:#7c2618;
    --brown2:#ce7646;
}
body{
    background-color: var(--blue2);
    margin:0;
}
*{
    font-family: 'Montserrat', sans-serif;
}
/*grid*/
.grid-container{
    display:grid;
    grid-template-columns: 75vw 25vw;
    height:100vh;
    width: 100vw;
}

/*everything sidebar related*/
.sidebar-container{
    display: flex;
    flex-direction: column;
    background-color:var(--yellow);
    grid-column:2/3 ;
    grid-row:1/3;
}

form >div{
    display: flex;
    flex-direction: column;
    margin-top:45px;
}
form{
    margin: 30px 20px;
}
form >div:not(:last-child) label{
    font-family: 'Gloock', serif;
    font-size:25px;
    letter-spacing: 3px;
}
form button{
    width:15vw;
    height:8vh;
    border-radius: 10px;
    border: 2px solid black;
    background-color: var(--blue1);
    color:whitesmoke;
    align-self: center;
    cursor:pointer;
    margin-top:45px;
    font-size: large;
    font-weight:bold;
}
form button:hover{
    background-color: var(--blue2);
    color:black;

}
#book-title,#book-author,#book-pages{
    width:20vw;
    height:6vh;
    border: none;
    border-bottom: 1px solid grey;
    background-color: transparent;
}
#book-title:focus,#book-author:focus,#book-pages:focus{
    outline:none;
}
.material-symbols-outlined{
    margin-left: 10px;
    cursor: pointer;
    width:20px;
}
/*everything table related*/
table{
    width: 100%;
    border-collapse: collapse;
}
td{
    border-bottom: 1px solid black;
}


